body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 95vw;
    height: 95vh;
}

.btn-modal {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(187, 101, 151);
    box-shadow: 3px 0px 2px 3px rgba(138, 104, 179, 0.112);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-modal:hover {
    background-color: rgb(92, 87, 97);
    color: rgb(10, 1, 1);
}

/* модальное окно */
.modal-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(192, 30, 30, 0.416);
    z-index: 10;
}

.modal {
    position: relative;
    width: 250px;
    padding: 30px;
    margin: 50px auto;
    background-color: rgb(232, 121, 217);
    border: 1px solid rgba(226, 46, 46, 0.372);
    border-radius: 5px;
    animation: modal_animation 2s;
}

#modalForm {
    display: grid;
    gap: 10px;
}

.modal__close {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.modal__close:hover {
    color: red;
}

.modal__title {
    text-align: center;
    text-transform: uppercase;
}

.modal__input {
    padding: 5px;
    border: 0;
    outline: 0;
}

.modal__input::placeholder {
    color: black;
}

.modal__btn {
    padding: 10px 5px;
    background-color: rgb(219, 59, 104);
    box-shadow: 2px 2px 1px 2px rgba(240, 57, 106, 0.645);
    color: rgb(1, 0, 0);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

@keyframes modal_animation {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}